/* 
 * Author: Jeremy Cartwright
 * Begun: Thu Jan 27 00:25:08 CST 2011
 * test.css - a simple css for testing
 * ∞
 */

html,body{
height:100%;
margin:0;
padding:0;
}

body{
background-color: #ffffff;
}

#v{
position:absolute;
top:50%;
margin-top:-300px;
left:0;
width:100%;
}

#h{
width:800px;
height:600px;
margin-left:auto;
margin-right:auto;
}

#c{
position: relative;
background-color: #FF6600;
-moz-box-shadow: 0px 0px 4px #cddbe0;
-webkit-box-shadow: 0px 0px 4px #cddbe0;
box-shadow: 0px 0px 4px #cddbe0;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius: 25px;
}
